/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

input, textarea, select{
    padding: 8px;
    border: 1px solid #e2e2e2;
    background-color: white;
    border-radius: 8px;
}

button{
    background-color: white;
    border: none;
}